/* Шрифты */
$font-family: "Exo 2", "Arial", sans-serif;
$second-family: "PT Sans", "Tahoma", sans-serif;

/* Цвета */
$main-color: #0b7572;
$accent-color: #ffce50;
$headings-color: #363738;
$text-color: #6b6b6c;
$light-block-color: #f9f9fb;
$white-color: #ffffff;

/* Вьюпорты */
$tablet-width: 768px;
$desktop-width: 1440px;
