.social {
  display: grid;
  grid-template-columns: 20px 29px 20px;
  gap: 20px;
}

.social__link {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-position: center;

  &--instagram {
    background-image: url("../../icons/stack.svg#instagram-icon");
  }

  &--vk {
    background-image: url("../../icons/stack.svg#vk-icon");
    background-size: 29px 17px;
  }

  &--linkedin {
    background-image: url("../../icons/stack.svg#linkedin-icon");
  }
}
