.title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
  color: $headings-color;

  &--light {
    color: $white-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 44px;
  }
}
